# Ignore analysis/ directory files
analysis/

# Ignore assets/ directory files
assets/

# Ignore merged_reference/ directory files
merged_reference/

# Ignore .snakemake/ directory
.snakemake

# Ignore macOS directory preferences and hidden files
*.DS_Store
._*
